body {
    display: flex;
    flex-direction: column;
    font-family: "helvetica";
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-width: 0px;
    border-radius: 10px;
    padding: 8px 24px;
    max-width: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

/* FIRST */
.first {
    background-color: #1F2937;
    padding: 0px 128px 64px 128px;
    height: auto;

}

.header {
    flex:1;
    display: flex;
    justify-content: space-between;
}
.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}
.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    gap: 18px;
}

.header .links {
    display: flex;
    justify-items: flex-end;
}

.intro {
    flex: 6;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 64px;
    padding: 64px 0px;
    align-items: center;
}

.intro h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro .left p {
    margin: 12px 0px;
}

.intro .right {
    background-color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 300px;
}

.intro .right p {
    margin: 12px 12px;
}

/* SECOND */
.second {
    text-align: center;
    height: auto;
}

.second h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.second ul {
    padding: 10px 180px;
    display: flex;
    gap: 18px;
}

.second li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #717171;

}

.second .placeholder {
    border: solid #3882F6 3px;
    border-radius: 10%;
    height: 100px;
    width: 100px;
}